body {
  font-family: "Roboto",sans-serif;
  overflow-x: hidden; }

* {
  margin: 0;
  padding: 0; }

a:hover, a:focus {
  text-decoration: none; }

.hero-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 160px; }

.cta-button {
  display: block;
  padding: 17px 71px;
  font-size: 24px;
  line-height: 28px;
  color: #506e45;
  background-color: #fff;
  border: 2px solid #fff;
  -webkit-transition: all .4s ease;
  transition: all .4s ease; }
  .cta-button:hover, .cta-button:focus {
    text-decoration: none;
    background: #506e45;
    color: #fff;
    -webkit-transition: all .4s ease;
    transition: all .4s ease; }

.seeMore-button {
  font-size: 24px;
  line-height: 122%;
  Text-align: center;
  display: block;
  color: #FEFDFD;
  -webkit-transition: all .4s ease;
  transition: all .4s ease; }
  .seeMore-button::after {
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #FEFDFD;
    margin-top: 10px; }
  .seeMore-button:hover, .seeMore-button:focus {
    text-decoration: none;
    color: #FEFDFD; }

.seeMore-button:hover::after,
.seeMore-button:focus::after {
  margin-top: 5px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease; }

.hero {
  background: #506e45 url("../images/TRIANGLE.svg") no-repeat right -20% bottom -120px;
  background-size: 831px 813px;
  padding: 80px 0; }
  .hero .w-header {
    margin-bottom: 167px; }
    .hero .w-header-heading {
      color: #FEFDFD;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 28px;
      font-variant: small-caps; }
    .hero .w-header .menu-burger {
      display: block;
      margin-left: auto; }
      .hero .w-header .menu-burger span {
        display: block;
        height: 2px;
        background-color: #FFFFFF;
        margin-left: auto;
        -webkit-transition: all .5s ease;
        transition: all .5s ease; }
      .hero .w-header .menu-burger span:nth-child(1) {
        margin-bottom: 10px;
        width: 40px;
        margin-right: 14px; }
      .hero .w-header .menu-burger span:nth-child(2) {
        width: 30px; }
      .hero .w-header .menu-burger:hover span:nth-child(1), .hero .w-header .menu-burger:focus span:nth-child(1) {
        margin-right: 0;
        -webkit-transition: all .5s ease;
        transition: all .5s ease; }
      .hero .w-header .menu-burger:hover span:nth-child(2), .hero .w-header .menu-burger:focus span:nth-child(2) {
        width: 40px;
        -webkit-transition: all .5s ease;
        transition: all .5s ease; }
  .hero .hero-heading {
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 122%;
    /* or 88px */
    color: #FBFBFB;
    font-variant: small-caps;
    margin-bottom: 54px; }
  .hero .hero-button {
    margin-right: 30px; }
  .hero .hero-article {
    display: block;
    color: #fff;
    text-decoration: none; }
    .hero .hero-article__title {
      font-size: 21px;
      line-height: 26px;
      Font-style: normal;
      font-weight: normal;
      color: #FFFBFB;
      margin-bottom: 10px; }
    .hero .hero-article__date, .hero .hero-article__desc {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: rgba(229, 229, 229, 0.63);
      margin: 0;
      padding: 0; }
    .hero .hero-article__date {
      display: block;
      margin-bottom: 10px; }

.gCategories {
  padding: 130px 0; }
  .gCategories-title {
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 122%;
    font-variant: small-caps;
    margin-bottom: 130px; }
  .gCategories-item {
    display: block;
    text-align: center;
    margin-bottom: 130px; }
    .gCategories-item__icon {
      max-width: 80px;
      margin-bottom: 24px; }
    .gCategories-item__title {
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 122%;
      /* or 29px */
      font-variant: small-caps;
      color: #000; }
  .gCategories-bg {
    position: relative; }
    .gCategories-bg__title {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      font-style: normal;
      font-weight: 900;
      font-size: 288px;
      line-height: 337px;
      /* identical to box height */
      font-variant: small-caps;
      color: rgba(105, 78, 118, 0.05); }
  .gCategories-seeMore {
    display: block;
    color: #000;
    text-decoration: none;
    text-align: right; }
    .gCategories-seeMore:hover, .gCategories-seeMore:focus {
      color: #595959; }
    .gCategories-seeMore__text {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px; }
    .gCategories-seeMore__arrow {
      font-size: 24px;
      display: inline-block; }

.gSubscribe {
  padding: 130px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(184, 224, 165, 0.76)), to(rgba(44, 81, 27, 0.7)));
  background: linear-gradient(180deg, rgba(184, 224, 165, 0.76) 0%, rgba(44, 81, 27, 0.7) 100%);
  position: relative;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }
  .gSubscribe:hover .gSubscribe-bg {
    left: -14%;
    -webkit-transform: rotate(-50deg);
            transform: rotate(-50deg);
    -webkit-transition: all .5s ease;
    transition: all .5s ease; }
  .gSubscribe-bg {
    position: absolute;
    left: 0;
    top: -330px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease; }
  .gSubscribe-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .gSubscribe-title {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    font-variant: small-caps;
    color: #FFFFFF;
    margin-bottom: 80px; }
  .gSubscribe-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .gSubscribe-form__label {
      margin: 0;
      padding: 0; }
    .gSubscribe-form__input {
      display: block;
      padding: 10px;
      background: #C4C4C4;
      font-size: 18px;
      border: none;
      outline: none;
      width: 400px; }
    .gSubscribe-form__submit {
      border: none;
      background-color: #fff;
      color: #506e45;
      padding: 10px 71px; }
      .gSubscribe-form__submit:focus, .gSubscribe-form__submit:hover {
        background: #f2f2f2; }
