.gArticles{
  padding: 130px 0;
  &-image{
    @media(max-width: 991px){
      margin-bottom: 60px;
    }
    @media (max-width: 574px) {
      margin-bottom: 30px;
    }


  }
  .gArticles-item{
    margin-bottom: 90px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &-content{


  &__title{
    margin: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    color: #000;
    margin-bottom: 10px;
    @media(max-width: 767px){
      font-size: 45px;
    }
  }

    &__read{
      display: inline-block;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: #000;
      text-transform: uppercase;
      margin-bottom: 23px;
    }
    &__desc{
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      margin: 0;
      padding: 0;
      text-align: justify;
      margin-bottom: 30px;
    }
    &__footer{
      display: flex;
      justify-content: space-between;
    }
    &__date{
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      color: #767575
    }
    &__author{
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;

    }
  }
  &-reg{
    display: flex;
    justify-content: center;
    font-size: 16px;
    line-height: 19px;

    &__link{
      display: inline-block;
   
      margin-left: 5px;
      font-weight: 900;
      color: lighten($main_color,30%);

      &:hover,&:focus{
        color:lighten($main_color,20%);
      }
    }
  }
}