.gCategories{
  padding: 130px 0;

  &-title{
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 122%;
    font-variant: small-caps;
    margin-bottom: 130px;

  }
  &-item{
    display: block;
    text-align: center;
    margin-bottom: 130px;

    &__icon{
      max-width: 80px;
      margin-bottom: 24px;
    }
    &__title{
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 122%;
      /* or 29px */
      font-variant: small-caps;
      color: #000;


    }
  }
  &-bg{
    position: relative;
    &__title{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      font-style: normal;
      font-weight: 900;
      font-size: 288px;
      @media (max-width: 1200px) {
        font-size: 200px;
      }
      @media( max-width: 991px){
        font-size: 170px;
      }
      @media( max-width: 767px){
        font-size: 128px;
      }
      @media (max-width: 574px) {
        font-size: 72px;
      }
      line-height: 337px;
      /* identical to box height */


      font-variant: small-caps;

      color: rgba(105, 78, 118, 0.05);
    }
  }
  &-seeMore{
    display: block;
    color: #000;
    text-decoration: none;
    text-align: right;
    &:hover,&:focus{

      color: #595959;
    }

    &__text{
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
    }

    &__arrow{
      font-size: 24px;
      display: inline-block;
    }
  }
}