.gSubscribe{
  padding: 130px 0;
  background: $secondary_color;
  position: relative;
  transition: all .5s ease;
  overflow: hidden;
  &:hover .gSubscribe-bg{
    left: -14%;
    @media(max-width: 1200px){
      left:-19%
    }
    @media(max-width: 991px){
      left:-25%
    }
    transform: rotate(-50deg);
    transition: all .5s ease;
  }
  &-bg {
    position: absolute;
    left: 0;
    top: -300px;
    transition: all .5s ease;
    width: 450px;
    @media(max-width: 767px){
      display: none;
    }
  }
  &-block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }
  &-title{
     font-style: normal;
     font-weight: 900;
     font-size: 48px;
     line-height: 56px;
     text-align: center;
     font-variant: small-caps;
     color: #FFFFFF;
     margin-bottom: 80px;
   }
  &-form{
    display: flex;
    @media (max-width: 574px) {
     display: block;
      width: 100%;
    }
    &__label{
      margin: 0;
      padding: 0;
      @media (max-width: 574px) {
        width: 100%;
        margin-bottom: 30px;
      }
    }
    &__input{
      display: block;
      padding: 10px ;
      background: #C4C4C4;
      font-size: 18px;
      border: none;
      outline:none;
      width: 400px;
      @media(max-width: 767px){
        width: 300px;
      }
      @media (max-width: 574px) {
        width: 100%;
        font-size: 16px;
      }
    }
    &__submit{
      border:none;
      background-color: #fff;
      color:$main_color;
      padding: 10px 71px;
      @media (max-width: 574px) {
        display: block;
        margin: 0 auto;
        padding: 10px 41px ;
      }
      &:focus,&:hover{
        background: #f2f2f2;

      }
    }
  }
}
