


.hero{
  background: $main_green  url("../images/TRIANGLE.svg") no-repeat right -20% bottom -20%;
  background-size:831px 813px ;
  @media ( max-width:1200px) {
  background-size: 50%;

  }
  @media(max-width: 991px){
    background: $main_green  url("../images/TRIANGLE.svg") no-repeat right -20% top 20%;
    background-size: 50%;
  }
  @media (max-width: 767px) {
    background: $main_green;
  }
  padding: 80px 0;

.hero-heading{

  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 122%;
  /* or 88px */
  color: #FBFBFB;
  font-variant: small-caps;
  margin-bottom: 54px;
  @media(max-width: 574px){
    font-size: 48px;
  }
}
  .hero-button{
    margin-right: 30px;
    @media (max-width: 574px) {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }
  .hero-article{
    display: block;
    color: #fff;
    text-decoration: none;
    @media(max-width: 991px){
      margin-bottom: 60px;
    }



    &__title{
      font-size: 21px;
      line-height: 26px;
      Font-style: normal;
      font-weight: normal;
      color: #FFFBFB;
      margin-bottom: 10px;
    }
    &__date,&__desc{
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: rgba(229, 229, 229, 0.63);
      margin: 0;
      padding: 0;

    }
    &__date{
      display: block;
      margin-bottom: 10px;
    }
  }
}